.whyussection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 6% 0% 6% 0%; */
    /* height: max-content; */
}

.whyussection__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    /* height: 440px; */
    /* height: auto; */
    height: 100%;
    position: relative;

    max-width: 1140px;
    margin: 3% auto;
    gap: 40px;
}

.whyussection__title {
    font-family: var(--font-exo2), Sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: var(--color-primary);
}

.whyussection__topData,
.whyussection__bottomData {
    border-width: 0px;
    color: var( --color-primary );
    font-family: var(--font-montserrat), Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding: 0px 0px 0px 0px;
}

.whyussection__topData span,
.whyussection__bottomData span {
    color: var(--color-accent);
    text-decoration: underline;
    font-weight: 500;
}

.whyussection__topData a,
.whyussection__bottomData a {
    color: var( --color-primary );
    text-decoration: none;
    font-weight: 500;
}

.whyussection__topData b,
.whyussection__bottomData b {
    color: #000000;
    text-decoration: none;
    font-weight: 550;
}

.whyussection__topData li,
.whyussection__bottomData li {
    padding-left: 10px;
}

.whyussection__topData p,
.whyussection__bottomData p {
    margin: 5px 0 10px;
}

.whyussection__topData h3,
.whyussection__bottomData h3 {
    color: var( --color-primary );
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0 10px;
}

.whyussection__bottomData {
    display: none;
}

.whyussection__bottomData._active {
    display: block;
}


.whyussection__button {
    display: flex;
    gap: 7px;
    align-items: center;
    font-family: var(--font-montserrat), Sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background-color: #fff;
    color: var(--color-accent);
}

.whyussection__button._active {
    color: var(--color-primary);
}

@media (max-width:1024px) {
    .whyussection {
        padding: 6% 0% 6% 3%;
    }

    .whyussection__title {
        font-size: 36px;
    }
}

@media (max-width:767px) {
    .whyussection {
        padding: 7% 5% 7% 5%;
    }

    .whyussection__wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .whyussection__title {
        font-size: 29px;
        padding-right: 6%;
    }
}