.vacancy {
    padding: 3% 0;
}

.vacancy__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    /* padding: 5% 3% 3% 3%; */
}

.vacancy__title {
    font-family: var(--font-exo2), Sans-serif;
    font-size: 45px;
    font-weight: 500;
    color: var(--color-primary);
    text-align: left;
    padding-bottom: 20px;
}

.vacancy__subtitle {
    font-family: var(--font-montserrat), Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: var( --color-primary );
    padding-bottom: 10px;
}

@media (max-width:1024px) {

    .vacancy__wrapper {
        max-width: 1024px;
        padding: 3%;
    }

    .vacancy__title {
        font-size: 36px;
    }
}

@media (max-width:767px) {
    .vacancy__wrapper {
        max-width: 767px;
        padding: 12% 5% 7%;
        flex-direction: column;
    }
}