.reviews {
    padding: 3% 0;
}

.reviews__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    background-color: #F3F3F3;
    padding: 2%;
    border-radius: 25px 25px 25px 25px;
}

.review_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E0E0E0;
    margin-top: 0%;
    margin-bottom: 2%;
    padding: 0% 0% 2% 0%;
}

.review_data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.review_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review_name {
    font-family: var(--font-montserrat), Sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var( --color-primary );
}
.review_content {
    font-family: var(--font-montserrat), Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var( --color-primary );
}

.review_date {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: var(--font-montserrat), Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #999998;
}

@media (max-width:1024px) {

    .reviews__wrapper {
        max-width: 1024px;
    }

}

@media (max-width:767px) {
    .reviews__wrapper {
        max-width: 767px;
        padding: 5%;
    }
}